div{
    margin: auto;
    height: 100px;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(98, 98, 189);
    flex-direction: column;
}
div h2{
    color: white;
}
div p{
    color: white;
}